go 1.25.0

use (
	./cli
	./core
	./plugins/builtin/git-init
	./plugins/builtin/github-actions-ci
	./plugins/builtin/readme
	./sdk/go
	./templates/cpp-cli
	./templates/csharp-rest-api
	./templates/go-rest-api
	./templates/java-rest-api
	./templates/kotlin-cli
	./templates/node-rest-api
	./templates/python-rest-api
	./templates/rust-rest-api
	./templates/typescript-rest-api
	./tests
)
